* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #EAEBEB;
}

/* Header Styles */
header {
  position: fixed;
  top:60px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4F5D75;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
@keyframes expand {
  from {width: 50vw; background-color: #2D3142;}
  to {width: 90vw; background-color: #EF8354;}
}
#menu {
  display: flex;
  background-color: #2D3142;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  width: 50vw;
  border-radius: 45px;
  color: #2D3142;
  box-shadow: 0px 3px 5px #2D3142;
}
#menu:hover {
  animation-name: expand;
  animation-duration: .4s;
  animation-fill-mode: forwards;
}
#menu > h1 {
  color: #EF8354;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 3.3vw;
  font-weight: 800;
  border: 2px solid #2D3142;
  border-radius: 45px;
  background-color: #2D3142;
  width: 14vw;
  text-align: center;
}
.menu-item {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 8vw;
  font-size: 1.8vw;
  text-decoration: none;
  color: #2D3142;
  font-weight: 600;
  text-align: center;
  border: 4px solid #2D3142;
  border-radius: 30px;
  
}
.menu-item:hover {
  box-shadow: 0px 4px #2D3142;
  font-size: 1.9vw ;
}
/* ^ Header Styles ^*/