* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #EAEBEB;
}
@keyframes expand {
  from {width: 24vw; background-color: #2D3142;}
  to {width: 80vw; background-color: #EAEBEB;}
}
@keyframes retract {
  1% {width: 80vw;background-color: #EAEBEB;}
  80% {width: 80vw;background-color: #EAEBEB;}
  100% {width: 24vw; background-color: #2D3142;}
}
.menu-item {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 80px;
  font-size: 20px;
  text-decoration: none;
  color: #2D3142;
  font-weight: 800;
}
header {
  position: fixed;
  top:50px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4F5D75;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
#menu {
  display: flex;
  background-color: #2D3142;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  width: 80vw;
  min-width: 250px;
  border-radius: 45px;
  color: #2D3142 ;
  animation-name: retract;
  animation-duration: 2.5s;
  animation-fill-mode:forwards;
}

#menu:hover {
  animation-name: expand;
  animation-duration: .6s;
  animation-fill-mode: forwards;
}
#menu > h1 {
  color: #EF8354;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 46px;
  font-weight: 800;
}
